@font-face{
	font-family: "Poppins";
        src: url("Poppins-Regular.ttf");
}

@font-face{
	font-family: "Poppins bold";
	src: url("Poppins-Bold.ttf");
}

h1{
	font-family: "Poppins-Bold";
}

*{
	margin: 0px;
	padding: 0px;
	font-family: "Poppins";
	list-style-type: none;
}

html{
	scroll-snap-type: y mandatory;
	scroll-behavior: smooth;
	overflow-y: scroll;
	scroll-padding: 0 0 0 0;
	overflow-x: hidden;
}

body{
	background-color: var(--textColor);
}

:root{
	--mainColor: #0f1016;
	--textColor: #f0f0f0;
	--textColorShade: #efefef;
	--accentColor: #006aff;
}


/* Nav bar styles */

.navElement{
	padding-top: 18px;
}

.navElementLink{
	color: var(--textColor);
}

.navElement:hover{
	transform: scale(1.1);
	transition: all .7s ease;
}

.otherButtons{
	text-decoration: none;
}

.mainButton{
	text-decoration: underline;
	font-weight: bold;
	scale: 1.1;
}

nav{
	background-color: var(--mainColor);
	height: 60px;
	width: 100%;
	position: fixed;
	z-index: 50;
	top: 0;
}

ul{
	display: flex;
	justify-content: space-between;
	padding-left: 3%;
	padding-right: 3%;
}

.mobileNavElementText{
	display: none;
	color: var(--textColor);
	padding-top: 10px;
	padding-left: 5px;
	font-family: 'October Twilight';
}

.mobileNavElementImg{
	display: none;
	height: 50px;
	width: 50px;
	padding-top: 5px;
}

.shortNavText{
	display: none;
}


/* Media query for the responsive nav bar */


@media screen and (max-width: 1280px){
	ul{
		margin-left: 0px;
		margin-right: 0px;
	}

	.shortNavText{
		display: flex;
	}

	.fullNavText{
		display: none;
	}
}


/* Media queries for the responsive content */


@media screen and (max-width: 1480px){
	.contentContainer{
		width: 60% !important;
		margin-left: 20% !important;
	}

	.presentationContainer{
		display: flex !important;
		justify-content: center !important;
	}
}

@media screen and (max-width: 1244px){
	.contentContainer{
		width: 70% !important;
		margin-left: 15% !important;
	}
}

@media screen and (max-width: 1068px){
	.presentationContainer{
		display: inline-block !important;
		justify-content: center !important;
		padding-top: 155px !important;
	}

	.presentationImage{
		width: 45% !important;
		height: 35% !important;
	}

	.presentationText h1{
		font-size: 25pt !important;
	}
}

@media screen and (max-width: 874px){
	.leftMobility .mobilityText{
		padding: 15px 0 0 0 !important;
	}

	.rightMobility .mobilityText{
		padding: 15px 0 0 0 !important;
		order: 1;
	}
}

@media screen and (max-width: 770px){
	.mobileNavOpen {
        display: inline-block;
        position: fixed;
        right: 0;
        top: 0;
        background-color: var(--mainColor);
        height: 100vh;
    }

    .mobileNavOpen .navElement{
    	padding-top: 40px !important;
    	padding-left: 5px !important;
    }

    .mobileNavOpen .mainButton{
    	scale: 1 !important;
    }

    .mobileNavOpen .navElementLink {
        display: block;
        text-align: center;
    }

    .mobileNavOpen .mobileNavElementImg{
		padding-top: 25px;
    }

	.mobileNavElementImg{
		display: flex;
		justify-content: flex-end;
	}

	.mobileNavElementText{
		display: flex;
		justify-content: flex-start;
		margin-top: 10px !important;
	}

	.navElementLink{
		display: none;
	}

	.presentationText{
		padding-left: 0px;
	}

	.presentationImage{
		width: 65% !important;
		height: 45% !important;
	}
}

@media screen and (max-width: 720px){
	.unityProject{
		display: inline-block !important;
	}

	.mobilityText{
		padding: 15px 0 0 0;
	}

	.unityProjectImage{
		margin-left: 50% !important;
		transform: translateX(-50%) !important;
	}

	.unityProjectText{
		padding-bottom: 30px !important;
		padding-left: 0px !important;
	}
}


/* Body styles */


.mainContainer{
	min-height: 100vh;
}

.contentContainer{
	width: 50%;
	margin-left: 25%;
}

.section{
	scroll-snap-align: start;
}


/* Presentation Container */


.presentationContainer{
	padding-top: 260px;
	padding-bottom: 55px;
}

.presentationContainer{
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 100%;
}

.presentationText{
	padding-left: 20px;
	padding-top: 30px;
	text-align: center;
}

.presentationText h1{
	font-size: 40pt;
}

.presentationText p{
	text-align: justify;
}

.presentationImage-div{
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
}

.presentationImage{
	width: 200px;
}

.downloadContainer{
	display: flex;
	gap: 10px;
	padding-top: 20px;
	margin-left: 50%;
	transform: translateX(-50%);
	justify-content: space-between;
}

.downloadFrench, .downloadEnglish{
	background-color: var(--textColorShade);
	color: var(--accentColor);
	border: 2px solid var(--accentColor);
	border-radius: 5px;
	height: 50px;
	width: 110px;
	text-decoration: none;
	text-align: center;
	justify-content: center;
	white-space: nowrap;
	overflow: hidden;
	box-sizing: border-box;
	line-height: 50px;
}

.downloadFrench:hover, .downloadEnglish:hover{
	background-color: var(--accentColor);
	color: var(--textColorShade);
	border: 2px solid white;
}

	/* Projects Container */


.projectsContainer{
	background-color: var(--textColorShade);
}

.projectsTitle{
	padding-bottom: 5px;
	font-size: 40pt;
}

.flaskProject{
	margin-top: 150px;
	padding-top: 55px;
	position: relative;
	z-index: 15;
	padding-bottom: 20px;
}

.pythonTitle{
	padding-top: 5px;
	text-align: center;
}

.pythonText, .unityText{
	text-align: justify;
}

.flaskProject::after, .unityProject::after{
	content: '';
	position: absolute;
	background-color: grey;
	width: 100%;
	height: 3px;
	bottom: 0;
	left: 0;
}

.unityProject{
	padding-top: 55px;
	display: flex;
	position: relative;
	z-index: 15;
	justify-content: flex-end;
}

.unityProjectImage{
	width: 256px;
	height: 256px;
	display: flex;
	justify-content: flex-end;
}

.unityProjectText{
	padding-top: 5%;
	padding-left: 20px;
	padding-bottom: 30px;
}

.unityTitle{
	text-align: center;
}

iframe{
	padding-top: 20px;
	width: 100%;
	height: 420px;
	aspect-ratio: 16/9;
}

.videoContainer{
	padding-top: 55px;
	padding-bottom: 80px;
}

.videoTitle{
	font-size: 40pt;
}


/* Footer styles */


footer{
	color: var(--textColor);
	text-align: center;
	background-color: var(--mainColor);
	height: 60px;
	position: relative;
	bottom: 0;
	display: flex;
	justify-content: center;
	gap: 10px;
	width: 100%;
}

footer p{
	display: flex;
	align-items: center;
}

.linkedinImg{
	width: 50px;
	height: 50px;
	transform: translateY(5px);
}


/* Engineering */


.gridContainer{
	display: grid;
	border: 2px solid var(--mainColor);
	grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
	justify-content: center;
	gap: 15px;
	overflow: hidden;
	margin-bottom: 100px;
}

.semesterTitle{
	text-align: center;
	background-color: #0264ed;
	padding-top: 10px;
	padding-bottom: 10px;
}


/* Mobility */


.mobility{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
}

.mobilityImg{
	width: 100%;
}

.leftMobility .mobilityText{
	padding-left: 15px;
}

.rightMobility .mobilityText{
	padding-right: 15px;
}

.mobility{
	position: relative;
}

.mobility:nth-child(1){
	padding-bottom: 50px;
}

.mobility:nth-child(2){
	padding: 50px 0 50px 0;
}

.mobility:nth-child(3){
	padding:50px 0 95px 0;
}

.mobility:nth-child(1)::before{
	content: '';
	position: absolute;
	width: 80%;
	background-color: black;
	height: 3px;
	bottom: 0;
	margin: 0 0 0 10%;
}

.mobility:nth-child(2)::before{
	content: '';
	position: absolute;
	width: 80%;
	background-color: black;
	height: 3px;
	bottom: 0;
	margin: 0 0 0 10%;
}
